
@{
    ViewData["Title"] = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="d-flex">
    <h3 class="mb-4"><i class="ms-Icon ms-Icon--GroupedList mr-2" aria-hidden="true"></i> Students</h3>
</div>

<div class="d-flex align-items-center">
    <div class="d-flex">
        <div class="align-self-center">
            <input id="txtTitleSetup" name="txtTitleSetup" type="text" class="txtTitleSetup pusaka-text-control w-100" placeholder="Filter by name..." />
        </div>
        <div class="pusaka-divider-vertical"></div>
        <div class="align-self-center">
            <button id="buttonAdd" type="button" class="btn pusaka-btn">
                <i class="ms-Icon ms-Icon--Add mr-1" aria-hidden="true"></i>
                New Student
            </button>
        </div>
        <div class="align-self-center">
            <button id="buttonUpload" type="button" class="btn pusaka-btn">
                <i class="ms-Icon ms-Icon--Upload mr-1" aria-hidden="true"></i>
                Upload Bulk
            </button>
        </div>
        <div class="align-self-center">
            <button id="btnDownloadSample" type="button" class="btn pusaka-btn">
                <i class="ms-Icon ms-Icon--Download mr-1" aria-hidden="true"></i>
                Download Sample
            </button>
        </div>
    </div>
    <div class="d-flex ml-auto">
            <button id="btnFilter" type="button" class="btn pusaka-btn">
                <i class="ms-Icon ms-Icon--Filter mr-1" aria-hidden="true"></i>
                Filter
            </button>
    </div>
</div>

<div id="divResult" class="mt-3">
    <table id="tblResult" class="table p-2">
        <thead>
            <tr>
                <th>Action</th>
                <th>ID</th>
                <th>Name</th>
                <th>School</th>
                <th>Class Of Year</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add New</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="formBody">
                <input type="hidden" id="txtId" />
                <div class="form-group row">
                    <label for="txtTitle" class="col-sm-3 col-form-label">Title <small class="text-danger"><i class="ms-Icon ms-Icon--AsteriskSolid" aria-hidden="true"></i></small> :</label>
                    <div class="col-sm-9">
                        <input id="txtTitle" name="txtTitle" type="text" class="txtTitle form-control" required maxlength="128" />
                        <div class="invalid-feedback">
                            Please fill the Title.
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-9 offset-3">
                        <div class="form-check">
                            <input class="form-check-input mandatory" name="cboConstruction" type="checkbox" id="cboConstruction" value="true" />
                            <label class="form-check-label" for="cboConstruction">Construction</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary d-flex align-items-center" data-dismiss="modal">
                    <i class="ms-Icon ms-Icon--ChromeClose mr-1" aria-hidden="true"></i>
                    Close
                </button>
                <button type="button" class="btn btn-primary d-flex align-items-center" id="btnSave">
                    <i class="ms-Icon ms-Icon--Save mr-1" aria-hidden="true"></i>
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/apps/pusaka.user.js" asp-append-version="true"></script>
}
